<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-body">
                <div id="toolbar" class="row tbRow">
                    <form id="searchFrom" class="form-inline" method="post">
                        <div class="col-xs-12 col-md-12">
                            <div data-options="region:'north',border:false" style="height:43px;padding:5px 0px 5px 0px;">
                                业务名称：
                                <select  name="nrt_type" id="inputType" class="easyui-combobox" data-options="required:true,editable:false,panelHeight:200" style="width:110px;height:34px;">
                                    <option value="咪咕阅读">咪咕阅读</option>
                                    <option value="咪咕动漫">咪咕动漫</option>
                                    <option value="咪咕爱唱">咪咕爱唱</option>
                                    <option value="咪咕音乐">咪咕音乐</option>
                                    <option value="咪咕游戏">咪咕游戏</option>
                                    <option value="灵犀">灵犀</option>
                                    <option value="139邮箱">139邮箱</option>
                                    <option value="飞聊">飞聊</option>
                                    <option value="飞信">飞信</option>
                                    <option value="和包">和包</option>
                                    <option value="和冲浪">和冲浪</option>
                                    <option value="和地图">和地图</option>
                                    <option value="咪咕视频">咪咕视频</option>
                                    <option value="移动139导航">移动139导航</option>
                                    <option value="移动梦网">移动梦网</option>
                                    <option value="移动手机支付">移动手机支付</option>
                                </select>
                                地市粒度：
                                <select  name="nrt_city" id="inputCity" class="easyui-combobox" data-options="required:true,editable:false,panelHeight:260" style="width:70px;height:34px;">
                                    <option value="贵州">贵州</option>
                                    <option value="贵阳">贵阳</option>
                                    <option value="遵义">遵义</option>
                                    <option value="安顺">安顺</option>
                                    <option value="都匀">黔南</option>
                                    <option value="凯里">黔东南</option>
                                    <option value="铜仁">铜仁</option>
                                    <option value="毕节">毕节</option>
                                    <option value="六盘水">六盘水</option>
                                    <option value="兴义">黔西南</option>
                                    <option value="贵安">贵安</option>
                                </select>
                                开始时间：<input id="inputStartDay" type="text" class="easyui-datebox" data-options="editable:false" style="height:34px;">
                                结束时间：<input id="inputEndDay" type="text" class="easyui-datebox" data-options="editable:false" style="height:34px;">
                                <button class="btn btn-default" type="button" onclick="doSearch()"><i class="fa fa-search"></i>查询</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="cc" class="easyui-layout" data-options="fit:true,border:false" style="width: 800px; height:536px;background-color: #fbfbfb;">
                    <div data-options="region:'center',border:false" style="overflow-x:hidden;overflow-y:hidden">
                        <table id="daytable">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="myModal" class="mydialog">
    <div class="row">
        <div class="col-md-12">
            <div>
                <form id="studentForm" class="form-horizontal form-bordered" role="form">
                    <div class="form-group">
                        <label for="inputNo" class="col-sm-2 control-label no-padding-right">工号</label>
                        <div class="col-sm-9">
                            <input type="text" class="easyui-validatebox form-control" data-options="required:true" style="width:60%" name="stu_no" id="inputNo" placeholder="请输入工号">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputName" class="col-sm-2 control-label no-padding-right">姓名</label>
                        <div class="col-sm-9">
                            <input type="text" class="easyui-validatebox form-control" data-options="required:true" style="width:60%" name="stu_name" id="inputName" placeholder="请输入姓名">
                            <input type="hidden" name="_id" id="inputId">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputMobile" class="col-sm-2 control-label no-padding-right">手机</label>
                        <div class="col-sm-9">
                            <input type="text" class="easyui-validatebox form-control" data-options="required:true" style="width:60%" name="stu_mobile" id="inputMobile" placeholder="请输入手机号码">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputSex" class="col-sm-2 control-label no-padding-right">性别</label>
                        <div class="col-sm-9">
                            <select  name="stu_sex" id="inputSex" class="easyui-combobox" data-options="required:true,editable:false,panelHeight:50" style="width:70px;height:34px;">
                                <option value="1">男</option>
                                <option value="0">女</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputAge" class="col-sm-2 control-label no-padding-right">年龄</label>
                        <div class="col-sm-9">
                            <input type="text" class="easyui-validatebox form-control" data-options="required:true" name="stu_age" id="inputAge" placeholder="请输入年龄" style="width:40%">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputStatus" class="col-sm-2 control-label no-padding-right">状态</label>
                        <div class="col-sm-9">
                            <select  name="stu_status" id="inputStatus" class="easyui-combobox" data-options="required:true,editable:false,panelHeight:50" style="width:70px;height:34px;">
                                <option value="1">在职</option>
                                <option value="0">离职</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>

    // 关闭窗口
    function closeDialog() {
        $('#myModal').dialog('close');
        clear();
    }
    // 打开页面
    function openPage(title, value, callback) {
        $('#myModal').show();
        $('#myModal').mydialog({
            title:title,
            width: 700,
            height: 500,
            top:100,
            modal: true,
            myButtons:[
                {
                    text:'确定',
                    btnCls:'btn btn-blue',
                    handler:function(){
                        callback(value);
                    }
                },
                {
                    text:'关闭',
                    btnCls:'btn btn-danger',
                    handler:function(){
                        closeDialog();
                    }
                }
            ]
        });
    }
    $(document).ready(function() {

        $(function(){

            var curr_time = new Date('2017/01/01 10:08');
            curr_time.setDate(curr_time.getDate());

            var end_curr_time = new Date();
            end_curr_time.setDate(end_curr_time.getDate());

            var strday_curr_time = curr_time.getFullYear() + '-' + (curr_time.getMonth()+1) + '-' + curr_time.getDate();
            var endday_curr_time = end_curr_time.getFullYear() + '-' + (end_curr_time.getMonth()+1) + '-' + end_curr_time.getDate();
            $("#inputStartDay").datebox("setValue",strday_curr_time);
            $("#inputEndDay").datebox("setValue",endday_curr_time);
            $('#daytable').datagrid({
                url: '{{projcfg.appurl}}/api/nrt/nrt_route/eui',
                method: 'get',
                rownumbers: true,
                //autoRowHeight:true,
                striped: true,
                fitColumns: true,
                toolbar: '#toolbar',
                fit: true,
                border: true,
                singleSelect: true,
                selectOnCheck: false,
                remoteSort: false,

                //checkOnSelect:true,
                columns: [[
                    {"field": '_id', hidden: true},
                    {"field": "nrtday_bizname", "title": "业务名称", align: 'center', sortable: true},
                    {"field": "nrtday_biztype", "title": "业务类型", align: 'center', sortable: true},
                    {"field": "nrtday_bizcity", "title": "地市", align: 'center', sortable: true},
                    {"field": "nrtday_starttime", "title": "采集时间", align: 'center', sortable: true,
                        formatter: function (value, rowData, rowIndex) {
                            var starttime = new Date(value);
                            starttime.setHours(starttime.getHours() - 8);
                            return starttime.getFullYear() + '年' + (starttime.getMonth() + 1) + '月' + starttime.getDate() + '日';
                        }
                    },
                    {"field": "nrtday_httpsuccnbr", "title": "HTTP访问成功次数", align: 'center', sortable: true},
                    {"field": "nrtday_httpattnbr", "title": "HTTP访问请求总次数", align: 'center', sortable: true},
                    {"field": "nrtday_httpsuccrate", "title": "HTTP访问成功率（%）", align: 'center', sortable: true,
                        styler: function (value, row, index) {
                            if (value < 95) {
                                return 'background-color:#ffee00;color:red;';
                            }
                        }
                    },
                    {"field": "nrtday_httptotalresptime", "title": "HTTP响应总时延（ms）", align: 'center', sortable: true},
                    {"field": "nrtday_httpavgresptime", "title": "HTTP响应平均时延（ms）", align: 'center', sortable: true,
                        styler: function (value, row, index) {
                            if (value > 1000) {
                                return 'background-color:#ffee00;color:red;';
                            }
                        }
                    },
                    {"field": "nrtday_ultraffic", "title": "上行流量（GB）", align: 'center', sortable: true,
                        formatter: function (value, rowData, rowIndex) {
                            return (value/1024/1024/1024).toFixed(2);
                        }
                    },
                    {"field": "nrtday_dltraffic", "title": "下行流量（GB）", align: 'center', sortable: true,
                        formatter: function (value, rowData, rowIndex) {
                            return (value/1024/1024/1024).toFixed(2);
                        }
                    },
                    {"field": "nrtday_dltraffic500", "title": "下行流量（GB）</br>（>500KB）", align: 'center', sortable: true,
                        formatter: function (value, rowData, rowIndex) {
                            return (value/1024/1024/1024).toFixed(2);
                        }
                    },
                    {"field": "nrtday_httpdlrate", "title": "HTTP下行速率（kbps）", align: 'center', sortable: true,
                        styler: function (value, row, index) {
                            if (value < 4000) {
                                return 'background-color:#ffee00;color:red;';
                            }
                        }
                    },
                    {"field": "nrtday_httpdlrate500", "title": "HTTP下行速率（kbps）</br>（>500KB）", align: 'center', sortable: true},
                    {"field": "nrtday_activeusernbr", "title": "活跃用户数", align: 'center', sortable: true}
                    /*,
                        {
                            "field": "ops","title":"操作",
                            "formatter":function (value, rowData,rowIndex) {
                                var data = rowData._id;
                                // 增加编辑和删除按钮
                                var editBtn = '<a href="javascript:toEdit(\''+data+'\')" class="btn btn-info btn-xs edit"><i class="fa fa-edit"></i> 修改</a>';
                                var delBtn = '<a href="javascript:doDel(\''+data+'\')" class="btn btn-danger btn-xs delete"><i class="fa fa-trash-o"></i> 删除</a>';
                                return editBtn + '&nbsp;' + delBtn;
                            }
                        }*/
                    ]],
                    onDblClickRow: function (rowIndex, rowData) {
                        //doEdit(1,rowIndex,rowData);
                    },
                    onLoadSuccess: function (json) {
                        if (!json.success) {
                            msgError(json.msg + ',错误代码:' + json.code);
                        }
                    },
                    onLoadError: function () {
                        msgError('加载数据出现时发生错误,请稍候重试...');
                    },
                pagination: true,
                loadMsg: '正在加载...'
            });
        });
    });
    function doSearch() {
            $('#daytable').datagrid('reload',{'starttime':$('#inputStartDay').datebox('getValue'),'endtime':$('#inputEndDay').datetimebox('getValue'),'city':$('#inputCity').combobox('getValue'),'type':$('#inputType').combobox('getValue')});
    }

    setTimeout(function () {
        doSearch();
    },500);
    function doClear() {
        $('#sname').val('');
        doSearch();
    }
    // 新增数据
    function doAdd(value) {//alert($('#studentForm').serializeJson());

        // 验证表单
        var validate = $('#studentForm').form('validate');
        if(!validate) {
            return false;
        }
        $.ajax({
            url: '{{projcfg.appurl}}/api/demo/student',
            type: 'post',
            data: $('#studentForm').serializeJson(),
            success: function (data) {
                if(data.success) {
                    msgSuccess(data.msg);
                    closeDialog();
                    doSearch();
                }
                else {
                    msgError(data.msg+',错误代码:'+data.code);
                }
            }
        });
    }

    // 打开修改页面
    function toEdit() {

        // 获得选择行
        var rows = $('#simpledatatable').datagrid('getChecked');
        if (rows.length != 1) {
            msgError('提示,请选择一条数据再进行修改');
            return false;
        }
        var id = rows[0]._id;
        openPage("修改数据", id, doEdit);
        // 获取远程数据
        $.ajax({
            url: '{{projcfg.appurl}}/api/demo/student/'+id,
            type: 'get',
            data: {

            }, success: function (data) {
                if(data.success) {
                    $('#studentForm').form('load',data.data[0]);
                }
                else {
                    msgError(data.msg+',错误代码:'+data.code);
                }
            }
        });
    }
    // 修改数据
    function doEdit(value) {

        // 验证表单
        var validate = $('#studentForm').form('validate');
        if(!validate) {
            return false;
        }

        $.ajax({
            url: '{{projcfg.appurl}}/api/demo/student/'+value,
            type: 'put',
            data: $('#studentForm').serializeJson(),
            success: function (data) {
                if(data.success) {
                    msgSuccess(data.msg);
                    closeDialog();
                    doSearch();
                    clear();
                }
                else {
                    msgError(data.msg+',错误代码:'+data.code);
                }
            }
        });
    }
    // 删除数据
    function doDel() {

        // 获得选择行
        var rows = $('#simpledatatable').datagrid('getChecked');
        if (rows.length != 1) {
            msgError('提示,请选择一条数据再进行删除');
            return false;
        }
        var id = rows[0]._id;

        msgConfirm('确定删除此条记录？',function(result){
            if(result){
                // 获取远程数据
                $.ajax({
                    url: '{{projcfg.appurl}}/api/demo/student/'+id,
                    type: 'delete',
                    data: {
                    },
                    success: function (data) {
                        if(data.success) {
                            msgSuccess(data.msg);
                            doSearch();
                        }
                        else {
                            msgError(data.msg+',错误代码:'+data.code);
                        }
                    }
                });
            }
        });
    }
    // 清空新增表单数据
    function clear() {
        $('#studentForm').form('clear');
    }
</script>